* {
	margin: 0;
	padding: 0;
}

#iviewer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('img/bg_transblack.png');
	display: none;
	z-index: 9999;
}

#iviewer .controls {
	position: fixed;
	top: 0;
	right: 0;
	width: 40px;
}

#iviewer .controls li {
	float: right;
	clear: right;
	position: relative;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	cursor: pointer;
	z-index: 3;
}

#iviewer .controls:hover {
	cursor: pointer;
}

#iviewer .controls .close { background-image: url('img/btn_close.png'); }
#iviewer .controls .zoomin { background-image: url('img/btn_zoomin.png'); }
#iviewer .controls .zoomout { background-image: url('img/btn_zoomout.png'); }
#iviewer .controls .iviewer_rotate_left { background-image: url('img/iviewer.rotate_left.png'); }
#iviewer .controls .iviewer_rotate_right { background-image: url('img/iviewer.rotate_right.png'); }
#iviewer .controls .iviewer_zoom_fit { background-image: url('img/iviewer.zoom_fit.png'); }
#iviewer .controls .iviewer_zoom_zero { background-image: url('img/iviewer.zoom_zero.png'); }

#iviewer .info {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #ccc;
	font-size: 16px;
	padding: 0;
}

#iviewer .viewer {
	position: fixed;
	top: 0;
	left: 40px;
	z-index: 2;
	display: none;
}

#iviewer .loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('img/spinner.gif') no-repeat center center;
	z-index: 2;
}

.filmstrip {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
}

.filmstrip img {
  display: block;
  height: 150px;
  width: 150px;
}

.filmstrip-item {
  width: 150px;
  float: left;
}